<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>alpha-blog homepage</title>
</head>

    <h1 align = "center" style="color:pink"><b>My homepage</b></h1>
  </br>

  <%= link_to 'About', about_path %>
  
  <p align = "center"><img src="https://www.besttours.com/media/catalog/category/NYC_2-compressor.jpg" width="428" height="220"/></p>
  </br>
  
  <h3 align = "center">This is my homepage.</h3>

</body>
</html>